.header {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	padding: 16px;
	margin-bottom: 16px;
}

.header_logo * {
	margin: 16px auto;
}

.header_logo img {
	display: block;
	margin-bottom: 1rem;
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 50%;
}

.header_logo h1 {
	text-align: center;
	font-size: 1.5rem;
}