.header {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 20px;
  margin: 0 auto 30px;
  background: linear-gradient(0deg, var(--background) 60%, #0b154f);
}

.header_logo * {
  margin: 8px auto;
}

.header_logo img {
  display: block;
  margin-bottom: 1rem;
  object-fit: cover;
  border-radius: 50%;
}

.header_logo h1 {
  text-align: center;
}
