.article_container {
	border-radius: 12px;
	width: 100%;
	max-width: 820px;

	padding: 30px 16px;
	margin: 0 auto !important;
	line-height: 1.8 !important;
	background: var(--background) !important;
	color: var(--foreground);
}

.article_container h1,
.article_container h2,
.article_container h3,
.article_container h4,
.article_container h5,
.article_container h6 {
	margin: 60px 0 16px;
}

.article_container h1 + h2,
.article_container h2 + h3,
.article_container h3 + h4,
.article_container h4 + h5,
.article_container h5 + h6 {
	margin: 16px 0;
}

.article_container p,
.article_container ul,
.article_container ol,
.article_container dl,
.article_container table,
.article_container pre,
.article_container blockquote,
.article_container figure,
.article_container hr {
	margin-bottom: 22px;
}

.article_container img {
	display: block;
}

.article_container pre,
.article_container p:has(> img) {
	margin-bottom: 46px;
}

.article_container pre:has(+ pre) {
	margin-bottom: 22px;
}

.article_container pre:has(div > code),
.article_container pre:has(div > a),
.article_container pre:has(> a) {
	background: none;
	border-radius: 6px;
	padding: 0 !important;
}

.article_container p > img {
	margin: 0 auto;
	max-width: 460px;
	width: 100%;
	border-radius: 8px;
}
