.post_container {
	width: 100%;
	max-width: 640px;
	padding: .5em 1rem;
	margin: 0 auto;
}

.post {
	display: flex;
	padding: 1.25rem 1rem;
	justify-content: space-between;
	gap: 1rem;
	border-bottom: 1px solid #9a9a9a;
	transition: all .2s;
	align-items: flex-start;
}

.post:hover,
.post:active,
.post:focus,
.post:target {
	transform: scale(1.01) translateY(-5px);
}

.text {
	width: 100%;
}

.text p {
	word-break: break-all;
	font-size: 1.1rem;
	line-height: 1.6;
	margin-bottom: .5rem;
}

.text small {
	color: #9a9a9a;
}
