.img_container {
	background: #cac9c9;
	filter: contrast(0.7);
	padding: 16px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	max-width: 130px;
	max-height: 130px;
}

.img_container img {
	object-fit: cover;
}