.article_footer {
	display: flex;
	justify-content: space-between;
	margin: 24px auto 0;
	padding: 1rem .5rem;
	max-width: 820px;
	width: 100%;
}

@media (max-width: 640px) {
	.article_footer {
		flex-direction: column;
	}
}

.article_footer a {
	font-size: .85em;
	position: relative;
	color: #4199ff;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 30em;
	white-space: normal;
	min-height: 40px;
	line-height: 1.4;
}
.article_footer span {
	vertical-align: middle;
}

.prev::before {
	content: "";
	width: 6px;
	height: 6px;
	border-top: 2px solid #4199ff;
	border-left: 2px solid #4199ff;
	transform: rotate(-45deg) translateY(-50%);
	position: absolute;
	top: 40%;
	left: 6px;
	border-radius: 1px;
}

.prev {
	padding: .5em .3em .5em 1em;
	text-align: left;
}

.next::after {
	content: "";
	width: 6px;
	height: 6px;
	border-top: 2px solid #4199ff;
	border-right: 2px solid #4199ff;
	transform: rotate(45deg) translateY(-50%);
	position: absolute;
	top: 40%;
	right: 6px;
	border-radius: 1px;
}

.next {
	margin-left: auto;
	padding: .5em 1em .5em .3em;
	/* text-align: right; */
}
